# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  node: circleci/node@4.7

commands:
  print_pipeline_id:
    steps: 
      - run: echo ${CIRCLE_WORKFLOW_ID}

  print_parameter:
    parameters:
      id: 
        type: string
    steps: 
      - run: echo << parameters.id >>

jobs:

  new-job-uses-command:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id
      - print_parameter: 
            id : << pipeline.id >>
      
      - run: exit 1 #error

      - run:
          name: on error
          command: echo "Hello Error!"
          when: on_fail


  print-hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          command:
            echo "Hello dear !"

  print-world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          command:
            echo "World is grate if we obay our God."

  print-env-var:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout  
      - run:
          name: "echo an env var that is part of our project"
          command: |
            echo $myvar

  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo "Hello new world." > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - output.txt

  print_output_file:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          at: ~/
      - run: cat ~/output.txt
          

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  sample: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - new-job-uses-command
      - print-hello
      - print-world:
          requires:
            - print-hello
      - print-env-var

      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
      
      - node/test:
          # This is the node version to use for the `cimg/node` tag
          # Relevant tags can be found on the CircleCI Developer Hub
          # https://circleci.com/developer/images/image/cimg/node
          version: '16.10'
          # If you are using yarn, change the line below from "npm" to "yarn"
          pkg-manager: npm